.add-student{
  width:100%;

}
.form-group{
  width:100%;
}
.form-group label{
  color:#686;
  display: block;
  padding: 5px 0px;
  font-weight: bold;
}
.form-group input,.form-group select{
  width:100%;
  padding: 15px;
  box-sizing: border-box;
}
.form-group input[type='submit']{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
